{% extends "index.html" %}
{% load static %}
{% load compress %}
{% load custom_tags %}

{% block title %}📞 | CONTACTS{% endblock %}

{% block aditional_metadata %}
{% endblock %}

{% block style_injection_block %}
    {% compress css %}
    <link rel="stylesheet"gvl type="text/css" href="{% static "css/all.min.css" %}" /> 
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-material-design.min.css" %}" />
	<link rel="stylesheet" type="text/css"  href="{% static "css/gijgo.min.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}"/>
    {% endcompress %}
{% endblock %}

{% block script_injection_upper_block %}
    {% compress js %}
    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/gijgo.min.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block body %}
<main class="main_container">
    {% header "contacts" %}
    <div style="height: 100px;"></div>

    <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="AlertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:transparent;box-shadow:none;">
        <div class="modal-body">
            <div class="alert fade show" role="alert" style="box-shadow: 0 0.5rem 1rem rgba(0,0,0,.5);">
                <span id="alertText"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        </div>
    </div>
    </div>        

    <div class="container">
        <div class="wrapper light-wrapper">
            <div class="container inner">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-12">
                        <div class="card text-white bg-dark" >
                            <div class="card-body">
                                <div class="text-center">
                                    <h3 class="card-title">Get in Touch</h3>
                                </div>
                                <form action="/contacts/" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="form_name">Name</label>
                                                <input type="text" class="form-control" name="form_name" id="form_name" placeholder="Your name">
                                            </div>
                                            <div class="form-group">
                                                <label for="form_email">Email address</label>
                                                <input type="email" class="form-control" name="form_email" id="form_email" placeholder="name@example.com">
                                            </div>
                                            <div class="form-group">
                                                <label for="form_phone">Phone number</label>
                                                <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">+1&nbsp;</span>
                                                        </div>
                                                    <input type="tel" class="form-control" name="form_phone" id="form_phone" placeholder=" phonenumber" aria-label="phonenumber" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput4">Date when u wanna have us</label>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-control-wrapper">
                                                                <input type="text" name="datepicker_start" id="datepicker_start" class="form-control floating-label" placeholder="Start Date">
                                                                <script>$('#datepicker_start').datepicker();</script>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-control-wrapper">
                                                                <input type="text" name="datepicker_end" id="datepicker_end" class="form-control floating-label" placeholder="End Date">
                                                                <script>$('#datepicker_end').datepicker();</script>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="mr-sm-2" for="form_service">What you want</label>
                                                <select name="form_service" class="form-control custom-select" id="form_service">
                                                    <option selected>Choose...</option>
                                                    {% for service in services %}
                                                        <option value="{{service.title}}">{{service.title}}</option>
                                                    {% endfor %}
                                                    <option value="Other">Other...</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="form_orderdescription">Description</label>
                                                <input type="text" class="form-control" name="form_orderdescription" id="form_orderdescription" placeholder="Why you want to contact us ?">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-3 col-sm-6 text-center">
                                            <button class="button-action contact-button send-button">
                                                <div class="circle">
                                                    <div class="icon arrow">
                                                        <div class="faicon">
                                                            <span class="fa-stack fa-lg">
                                                                <i class="fas fa-circle sendicon fa-stack-2x"></i>
                                                                <i class="fas fa-paper-plane fa-stack-1x fa-inverse"></i>
                                                            </span>
                                                        </div>	
                                                    </div>	
                                                </div>
                                                <p class="button-text">Send</p>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 65px;"></div>
    <div class="container">
        <div class="wrapper light-wrapper">
            <div class="container inner">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-12">
                        <div class="card text-white bg-dark" >
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 class="card-title">Contacts</h5>
                                </div>
                                <div style="height: 30px;"></div>
                                <ul class="list-group list-group-flush">
                                    <div class="list-group-item-action social-media-bar">
                                        <div class="row justify-content-center">
                                            <div class="col-md-2 col-4 text-center"><a href="https://www.facebook.com/avilonproduction/" class=" " ><i class="fab social-media-icon fa-facebook-square fa-3x"></i></a></div>
                                            <div class="col-md-2 col-4 text-center"><a href="https://www.instagram.com/avilon.production/" class=" " ><i class="fab social-media-icon fa-instagram fa-3x"></i></a></div>
                                            <div class="col-md-2 col-4 text-center"><a href="" class=" " ><i class="fab social-media-icon fa-pinterest-square fa-3x"></i></a></div>
                                            <div class="col-md-2 col-4 text-center"><a href="" class=" " ><i class="fab social-media-icon fa-tumblr-square fa-3x"></i></a></div>
                                            <div class="col-md-2 col-4 text-center"><a href="" class=" " ><i class="fab social-media-icon fa-adobe fa-3x"></i></a></div>
                                            <div class="col-md-2 col-4 text-center"><a href="" class=" " ><i class="fab social-media-icon fa-youtube-square fa-3x"></i></a></div>
                                            
                                        </div>
                                    </div>
                                    <p class="list-group-item-action  list-group-item-dark text-center">
                                        <div class="row justify-content-center">
                                            <div class="col-md-6 col-sm-12">
                                                <a href="mailto:maxcamer@avilonproduction.com">
                                                    <p class="contact-text-link"> maxcamer@avilonproduction.com</p>
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <a href="tel:503-354-9699">
                                                    <p class="contact-text-link">+1 503-354-9699</p>
                                                </a>
                                            </div>
                                        </div>
                                    </p>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div style="height: 100px;"></div>
</main>
{% endblock %}

{% block script_injection_lower_block %}
    {% compress js%}
        <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}" ></script>
        <script type="text/javascript" src="{% static "js/popper.js" %}" ></script>
        <script type="text/javascript" src="{% static "js/bootstrap-material-design.js" %}"></script>
        <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    {% endcompress %}
    <script>
    if ("{{sent}}"==="True"){
        $('#alertText').text("Email have successfully been sent to email {{email}} ! (If you don't see it, check the spam)")
        $('.alert').addClass('alert-success')
        $('#AlertModal').modal({
            keyboard: false
        })
    }
    if ("{{sent}}"==="False"){
        $('#alertText').text("Email have`t been sent to email {{email}}. Check your data and try again later")
        $('.alert').addClass('alert-danger')
        $('#AlertModal').modal({
            keyboard: false
        })
    }   
    </script>
{% endblock %}