{% extends "index.html" %}
{% load static%}
{% load compress %}
{% load custom_tags %}

{% block title %}🎞️ | PORTFOLIO{% endblock %}

{% block aditional_metadata %}
{% endblock %}

{% block style_injection_block %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/flickity.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    {% endcompress %}
{% endblock %}

{% block script_injection_upper_block %}
	{% compress js %}
        <script src="{% static "js/modernizr.custom.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block body %}
	<div class="container">
		{% header "works" %}
		<div class="hero">
			<div class="hero__back hero__back--static"></div>
			<div class="hero__back hero__back--mover"></div>
			<div class="hero__front"></div>
		</div>
		<div class="stack-slider">
			<div class="stacks-wrapper">
                {% for gallerytopic in gallerytopics %}
                    <div class="stack">
                        <h2 class="stack-title"><a href="#" data-text="{{ gallerytopic.title }}"><span>{{ gallerytopic.title }}</span></a></h2>
                        {% for gallery in gallerytopic.galleries.all %}
                            <div class="item">
                                <div class="item__content">
                                    <a href="/gallery/{{gallery.id}}">
                                        <img src='{{gallery.gallery_logo|slice:":60"}}w_700,f_auto,q_auto:good{{gallery.gallery_logo|slice:"59:"}}' sizes="(max-width: 1200px) 50vw,
                                            (max-width: 480px) 50vw,
                                            33vw" srcset='{{gallery.gallery_logo|slice:":60"}}w_200,f_auto,q_auto:good{{gallery.gallery_logo|slice:"59:"}} 200w,
                                            {{gallery.gallery_logo|slice:":60"}}w_300,f_auto,q_auto:good{{gallery.gallery_logo|slice:"59:"}} 300w,
                                            {{gallery.gallery_logo|slice:":60"}}w_400,f_auto,q_auto:good{{gallery.gallery_logo|slice:"59:"}} 400w,
                                            {{gallery.gallery_logo|slice:":60"}}w_500,f_auto,q_auto:good{{gallery.gallery_logo|slice:"59:"}} 500w,
                                            {{gallery.gallery_logo|slice:":60"}}w_600,f_auto,q_auto:good{{gallery.gallery_logo|slice:"59:"}} 600w,
                                            {{gallery.gallery_logo|slice:":60"}}w_700,f_auto,q_auto:good{{gallery.gallery_logo|slice:"59:"}} 700w,
                                            {{gallery.gallery_logo|slice:":60"}}w_800,f_auto,q_auto:good{{gallery.gallery_logo|slice:"59:"}} 800w' alt="{{gallery.title}}" class="img-responsive">
                                    </a>
                                    <h3 class="item__title">{{ gallery.title }}<span class="item__date">{{ gallery.date|date:"M d, Y" }}</span></h3>
                                    <div class="item__details">
                                        <ul>
                                            <li>{{ gallery.description }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>          
                        {% endfor %} 
                    </div> 
                {% endfor %}
            </div>
		</div>
		<img class="loader" src="{% static "img/three-dots.svg" %}" width="60" alt="Loader image" />
	</div>
{% endblock %}

{% block script_injection_lower_block %}
	{% compress js %}
	<script src="{% static "js/flickity.pkgd.min.js" %}"></script>
    <script src="{% static "js/work.js" %}"></script>
    <script src="{% static "js/smoothscroll.js" %}"></script>
    {% endcompress %}
{% endblock %}