certifi==2019.6.16
chardet==3.0.4
dataclasses==0.6
dj-database-url==0.5.0
Django==2.2.10
django-appconf==1.0.3
django-compressor==2.3
django-feedparser==0.2.1
django-heroku==0.3.1
django-jet==1.0.8
django-smtp-ssl==1.0
djongo==1.2.35
feedparser==5.2.1
gunicorn==19.9.0
idna==2.8
psycopg2==2.8.3
pymongo==3.9.0
pytz==2019.2
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.1.0
six==1.12.0
sqlparse==0.2.4
urllib3==1.25.3
whitenoise==4.1.3
