<header class="codrops-header">
    <h1 class="codrops-title"><span class="name-header">Max Avilov </span><span class="company-header">Medilov&#8482;</span></h1>
    <span class="stack-title-header"></span>
    <nav class="menu">
        <a class="menu__item {% if page == "about" %} menu__item--current {% endif %}" href="/about"><span>About</span></a>
        <a class="menu__item {% if page == "services" %} menu__item--current {% endif %}" href="/services"><span>Service</span></a>
        <a class="menu__item {% if page == "works" %} menu__item--current {% endif %}" href="/"><span>Works</span></a>
        <a class="menu__item {% if page == "contacts" %} menu__item--current {% endif %}" href="/contacts"><span>Contact</span></a>
    </nav>
</header>


