@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Fonts & icons */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url("../fonts/codropsicons/codropsicons.e0c41e218300.eot");
	src: url("../fonts/codropsicons/codropsicons.e0c41e218300.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.70b872279cb3.woff") format("woff"), url("../fonts/codropsicons/codropsicons.89060daed41f.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.1958497a8eab.svg#codropsicons") format("svg");
}

@font-face {
	font-family: 'camera-icons';
	src:url("../fonts/camera-icons/camera-icons.3103cdf365a3.eot?7h6q4p");
	src:url("../fonts/camera-icons/camera-icons.3103cdf365a3.eot?#iefix7h6q4p") format('embedded-opentype'),
		url("../fonts/camera-icons/camera-icons.1dc1705120f1.woff?7h6q4p") format('woff'),
		url("../fonts/camera-icons/camera-icons.d920a5baf109.ttf?7h6q4p") format('truetype'),
		url("../fonts/camera-icons/camera-icons.effb8549d85a.svg?7h6q4p#camera-icons") format('svg');
	font-weight: normal;
	font-style: normal;
}


 .main_container {
	position: relative;
	min-height: 100vh;
	height: 100%;
	overflow: hidden;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}


.social-media-bar {
	margin-top: 0;
	margin-bottom: 1rem;
}

.social-media-icon{
	background: -webkit-linear-gradient(#ef5350, #FF706E);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 10px 0;
}

.social-media-icon:hover{
	background: -webkit-linear-gradient(#FF706E, #ef5350);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button-action {
position: relative;
display: inline-block;
cursor: pointer;
outline: none;
border: 0;
vertical-align: middle;
text-decoration: none;
background: transparent;
padding: 0;
font-size: inherit;
font-family: inherit;
font-weight: 700;
}
.button-action.contact-button {
min-width: 14rem;
height: auto;
margin: auto;
margin-top: 1rem;
width: 100%;
}

.button-action.send-button{
	min-width: 8rem;
	width: auto;
}

.button-action.contact-button .circle {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: relative;
margin: 0;
width: 3rem;
height: 3rem;
background: rgba(255, 255, 255, 0.719);;
border-radius: 1.625rem;
}
.button-action.contact-button .circle .icon {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: 0;
bottom: 0;
margin: auto;
}
.button-action.contact-button .circle .icon.arrow {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
background: none;
}

.button-action.contact-button .circle .icon.arrow .faicon{
	padding-top: 6px;
    padding-left: 0.5px;
}

.button-action.contact-button .button-text {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding: 0.75rem 0;
margin: 0 0 0 1.85rem;
color: #fff;
line-height: 1.6;
text-align: center;
}
.button-action:hover .circle {
width: 100%;
}

.button-action:hover .circle .icon.arrow .faicon span .backicon{
	background: -webkit-linear-gradient(#4FF082, #15A342);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.backicon{
	background: -webkit-linear-gradient(#212121, #424242);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.sendicon{
	background: -webkit-linear-gradient(#ee5957, #ef9850);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.button-action:hover .button-text {
color: #ef5350;
}

.card {
	background: linear-gradient(145deg, #141414 0%, #424242 75%, #5d5b5b 100%);
}

body {
	background-color: #212121;
background-image: url(https://www.transparenttextures.com/patterns/stardust.png);
}

.list-group-item-action:hover {
	background-color: transparent;
}

.form-control {
	color: #9092a5b7;
}
.bmd-label-static{
	color: rgba(255, 255, 255, 0.719);
}
.gj-textbox-md{
	padding: 8px 0 4px 0;
}
.gj-icon{
	top: 5px!important;
	color: #bbbdcab7;
}
.input-group-text{
	color: #bbbdcab7;
}