/* Header */

.codrops-header {
    padding: 1em 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: none;
    flex: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.cordrop-header-background {
    background: -webkit-linear-gradient(0deg, #303030 0, #1f1f1f 50%, #262626 100%);
    transition: 200ms;
}

.codrops-header h1 {
    font-size: 1em;
    margin: 0 auto 0 0;
    padding: 0.5em;
    font-weight: bold;
}

.codrops-header h1 span {
    color: #585558;
}

.codrops-links {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    height: 40px;
    -webkit-flex: none;
    flex: none;
}

.codrops-links::after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    min-height: 20px;
    background: #585558;
    content: '';
    -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
    transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
    display: inline-block;
    margin: 0.5em;
    width: 1.5em;
    text-decoration: none;
}

.codrops-icon:before {
    margin: 0 5px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon span {
    display: none;
}

.codrops-icon--drop:before {
    content: "\e001";
}

.codrops-icon--prev:before {
    content: "\e004";
}

.name-header {
    background: -webkit-linear-gradient(0deg, #fc6764 30%, #910a0a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* General styles */

body {
    background: linear-gradient(145deg, #0f0f0f 0%, #2c2c2c 75%, #3f3f3f 100%);
    color: #fff;
    font-size: 1em;
    overflow: hidden;
    position: relative;
    overflow-y: scroll;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #585558;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #ef5350;
}

a:hover,
a:focus {
    outline: none;
}

button:focus {
    outline: none;
}


/* Menu */

.menu {
    font-size: 1em;
    padding: 0.5em;
}

.menu__item {
    font-weight: bold;
    margin: 0 1em;
}

.menu__item:hover {
    background: -webkit-linear-gradient(0deg, #ef5350 30%, #fc9842 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu__item--current {
    background: -webkit-linear-gradient(0deg, #ef5350 30%, #fc9842 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*Mobile header*/

.header {
    z-index: 10000;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 58px;
    width: 100%;
    background: linear-gradient(#0000009f, rgba(0, 0, 0, 0));
    overflow: hidden;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s;
}

.header .burger-container {
    position: relative;
    display: inline-block;
    height: 58px;
    width: 70px;
    cursor: pointer;
    float: right;
}

.header ul.menu {
    position: relative;
    display: block;
    padding: 0px 48px 0;
    list-style: none;
    clear: both;
}

.header ul.menu li.menu-item {
    text-align: center;
    border-bottom: 1px solid #333;
    margin-top: 5px;
    -webkit-transform: scale(1.15) translateY(-30px);
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.menu-item:hover a span {
    background: -webkit-linear-gradient(0deg, #ef5350 30%, #fc9842 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-item--current a span {
    background: -webkit-linear-gradient(0deg, #ef5350 30%, #fc9842 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.49s;
}

.header ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.42s;
}

.header ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.35s;
}

.header ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.28s;
}

.header ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: #FFF;
    font-family: "Ek Mukta", sans-serif;
    font-weight: 100;
    text-decoration: none;
    font-size: 22px;
    line-height: 2.35;
    font-weight: 200;
    width: 100%;
}

.header.menu-opened {
    height: 100%;
    background-color: #0000004f;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.25s;
}

.header.menu-opened ul.menu li.menu-item {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
    visibility: visible;
}

.header.menu-opened ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.27s;
}

.header.menu-opened ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.34s;
}

.header.menu-opened ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.41s;
}

.header.menu-opened ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.48s;
}

.header.menu-opened ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.55s;
}

.stack-title-header-mobile {
    display: none;
}


/*Menu button*/

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--emphatic-r {
    overflow: hidden;
}

.hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::before {
    left: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::after {
    top: 10px;
    right: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important;
}

.hamburger--emphatic-r.is-active .hamburger-inner::before {
    left: -80px;
    top: 80px;
    transform: translate3d(80px, -80px, 0) rotate(-45deg);
    transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic-r.is-active .hamburger-inner::after {
    right: -80px;
    top: 80px;
    transform: translate3d(-80px, -80px, 0) rotate(45deg);
    transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (max-width: 45em) {
    .view-full .container .header .codrops-title {
        display: none;
    }
    .view-full .container .header .stack-title-header-mobile {
        display: inline;
    }
    .codrops-header {
        display: none;
    }
    .header {
        display: block;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .codrops-title {
        font-size: 1.25em;
        display: inline;
        float: left;
        padding-left: 5px;
        font-weight: 700;
    }
    .company-header {
        color: #585558;
    }
}